<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Elevator</string>
		<key>location</key>
		<string>{40.532298830645139, -111.8937316285183}</string>
		<key>type</key>
		<string>10</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>4D Theater</string>
		<key>location</key>
		<string>{40.532456100379285, -111.89404551281442}</string>
		<key>type</key>
		<string>13</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Restrooms</string>
		<key>location</key>
		<string>{40.532248504661496, -111.89412146400308}</string>
		<key>type</key>
		<string>8</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expedition Asia</string>
		<key>location</key>
		<string>{40.532635189410364, -111.89405119014198}</string>
		<key>type</key>
		<string>4</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tuki&apos;s Island</string>
		<key>location</key>
		<string>{40.532241029833457, -111.89429848976003}</string>
		<key>type</key>
		<string>5</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Journey to South America - Aviary</string>
		<key>location</key>
		<string>{40.532155307195801, -111.89347979032402}</string>
		<key>type</key>
		<string>1</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antarctic Adventure</string>
		<key>location</key>
		<string>{40.532609588295685, -111.89370009080039}</string>
		<key>type</key>
		<string>6</string>
		<key>subtitle</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Education Center</string>
		<key>location</key>
		<string>{40.532746094746528, -111.89405242069614}</string>
		<key>type</key>
		<string>14</string>
		<key>subtitle</key>
		<string></string>
	</dict>
</array>
</plist>
